@{
    ViewBag.Title = "Home Page";
}

<h1 id="title">Stock Search</h1>
<p class="lead">Enter a stock symbol below to retrieve information about that stock.</p>

<div class="container mt-4" data-bind="with: homeviewModel">
    <form data-bind="submit: search">
        <div class="row g-3">
            <div class="col-2">
                <label for="txtStockSymbol" class="form-label">Stock Ticker</label>
                <input type="text" class="form-control" id="txtStockSymbol" placeholder="Example : AAPL" data-bind="value: stockSymbol">
            </div>
            <div class="col-2">
                <label for="inputDate" class="form-label">Date</label>
                <select id="inputDate" class="form-select" data-bind="value: stockDate">

                    <option value="Today">Today</option>
                    <option value="Weekly">Weekly (Last 7 Days)</option>
                    <option value="Monthly">Monthly (Last 30 Days)</option>
                    <option value="Custom">Custom</option>
                </select>
            </div>
            <div class="col-2" data-bind="visible: isCustomDateSelected">

                <label for="txtDateFrom" class="form-label">Date From</label>
                <input type="date" class="form-control" id="txtDateFrom" data-bind="value: dateFrom" placeholder="Enter custom data">
            </div>

            <div class="col-2" data-bind="visible: isCustomDateSelected">

                <label for="txtDateTo" class="form-label">Date To</label>
                <input type="date" class="form-control" id="txtDateTo" data-bind="value: dateTo" placeholder="Enter custom data">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <div class="alert alert-info mt-2 text-center" role="alert" data-bind="visible: isLoading">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="mt-4" data-bind="if: data().length > 0">

        <canvas id="stockChart" width="400" height="200"></canvas>

        <div class="mt-3">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                    </tr>
                <tbody data-bind="foreach: data">
                    <tr>
                        <td>
                            <span data-bind="dateText: date, dateFormat: 'MMM DD, YYYY'"></span>
                        </td>
                        <td>
                            <span data-bind="text: open"></span>
                        </td>
                        <td>
                            <span data-bind="text: high"></span>
                        </td>
                        <td>
                            <span data-bind="text: low"></span>
                        </td>
                        <td>
                            <span data-bind="text: close"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Home/homeVm.js"></script>
}